<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MysqlConnString1" connectionString="Server=127.0.0.1;UserId=root;Password=root123;Database=whatsapp;charset=utf8;SslMode=None;" />
  </connectionStrings>
  <appSettings>
    <add key="HeartbeatTime" value="5">
    </add>
    <add key="SocketServerHost" value="22222">
    </add>
    <add key="ModemServerPort" value="16908" />
    <add key="UpdateUrl" value="http://47.100.163.3:8003/updates/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AuthUrl" value="http://47.100.163.3:8003/auth/index.html" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>